:root {
  box-sizing: border-box;
  font-size: calc(1vw + 0.3em);
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #dbf6d9;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

label {
  display: block;
  padding: 0.2em;
}

input {
  display: block;
  width: 18vw;
}

h2 {
  margin: 0;
}

h4 {
  margin: 0;
}

table {
  border-color: black;
}

button {
  display: block;
}

a {
  text-decoration: none;
  color: #ff8376;
  padding: 0.1em 1.2em;
}

a:hover {
  color: #fa3636;
}

td {
  padding: 0.2em;
}

.container {
  background-color: #c7fabb;
  padding: 2em;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container__div {
  width: 45vw;
  height: auto;
  padding: 1.5em;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 0.5fr auto auto auto;
  border-radius: 25px;
}

.container__div--title {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  padding-bottom: 1em;
  display: flex;
  justify-content: center;
}

.container__div--subtitle {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.container__div--table {
  grid-row: 3 / 5;
  grid-column: 1 / 2;
  width: 18vw;
}

.button__save {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  width: 18vw;
  height: 6vh;
  align-self: center;
  justify-self: center;
  border-radius: 15px;
  border: none;
  background-color: #ff8376;
  cursor: pointer;
}

.button__save:hover {
  background-color: #fa3636;
}

.button__check {
  grid-row: 4 / 5;
  grid-column: 2 / 3;
  width: 18vw;
  height: 6vh;
  align-self: center;
  justify-self: center;
  border-radius: 15px;
  border: none;
  background-color: #ff8376;
  cursor: pointer;
}

.button__check:hover {
  background-color: #fa3636;
}

.button__delete {
  background-color: #ff8376;
  cursor: pointer;
  border: none;
  width: 100%;
  border-radius: 5px;
}

.button__delete:hover {
  background-color: #fa3636;
}

.container__div--database {
  grid-row: 5 / 6;
  grid-column: 1 / 3;
}

#form-computer {
  align-self: center;
  background-color: #8dff87;
  margin-bottom: 1em;
}

#form-client {
  align-self: center;
  background-color: #7de3ad;
  margin-bottom: 1em;
}

#form-message {
  align-self: center;
  background-color: #97faf8;
}
